body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #080808;
    color: #fff;
    background-image: url('/images/wallpaper1.jpg');
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  h2 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Example text shadow */
}

  .navbar {
    background-color: transparent;
    padding: 10px;
    /* padding-right: 100px; */
    position: sticky;
    /* width: 100%; */
    font-size: larger;
    z-index: 999;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    /* padding-bottom: 20px; */
    box-shadow: 0 0 10px rbga(255,255,255,0.5);
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    
  }
  .navbar a:hover {
    background-color:  rgb(255, 255, 255,0.2);
    font-weight: 600;
    border-radius: 30px;
    /* font-size: larger; */
    /* transform: scale(1.2); */
    /* color: orangered;
     */
    color: #080808;
    transition: transform 0.3s ease;
    /* text-decoration:wavy; */
  }

  .section {
    padding: 100px 0;
    text-align: center;
    /* background-color: #080808; */
    /* background-color: transparent; */
  }
  .home {
    background-color: transparent;
    height: 100%;
    font-size: larger;
    /* display: flex; */
  }
  .intro-container{
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    font-size: 36px;
    /* text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5); */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);;
    /* width: 60%; */
  }
  .summary-container{
    padding: 20px;
    border-radius: 10px;
    /* height: 200px; */
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* width: 40%; */
    /* background-color: lightgray; */

    background-color: rgb(0, 0, 0,0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    /* border: 2px solid orangered ; */
    box-shadow: 0 0 10px rgb(255, 255, 255,0.2);
    border: 2px solid orangered;
  }
  .summary-container h3{
    color: orangered;
  }
  
  .skills {
    /* background-color: #444; */
    background-color: transparent;
  }
  .skills-container{
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1px;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 10px;
    /* display: inline-block; */
    
  }
  .skills-container .icon-cont{
    padding: 10px;
    /* background-color: yellow; */
    /* width: 70px; */
    margin: auto;
  }
  .skills-container .icon {
    font-size: 56px;
    padding: 30px;
    margin: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* align-items: start;
    align-content: space-evenly;
    
    text-align: start; */
    /* top: 50%; 
    left: 50%;  */
    justify-content: center;
    width: 56px; /* Adjust size of circular background */
    height: 56px; 
    /* transform: translate(-50%, -50%);  */
    background-color: rgba(0, 0, 0, 0.9); /* Background color of the circular background */
    border-radius: 50%; 
    /* padding-left: 50px; */
  }
  .skills-container .icon-cont:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
        
  }
  .projects {
    /* background-color: #080808; */
    background-color: transparent;
  }
  .certfications {
    /* background-color: #444; */
    background-color: transparent;
  }
  .contact {
    /* background-color: #080808; */
    background-color: transparent;
  }
  .contact-tile {
    /* background-color: #666; */
    background-color: rgb(0, 0, 0,0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid orangered ;
    box-shadow: 0 0 10px rgb(255, 255, 255,0.2);
  }
  
  .contact-tile p {
    margin: 10px 0;
  }
  
  .contact-tile a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-tile a:hover {
    text-decoration: underline;

  }
  .contact-tile:hover{
    transform: scale(1.05); /* Scale up on hover for visual feedback */
    background-color: rgb(0, 0, 0,0.9);
    transition: transform 0.3s ease; 
  }
  .projects-container {
    /* display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 20px; */
    /* padding: 50px; */
    /* width: 100%; 
    overflow-x: auto; 
    white-space: wrap;
    display: flex;
    align-items: flex-start; 
    height: 500px; */
    padding-top: 10px;
    max-height: 670px;
    min-height: 670px;
    display: flex;
    overflow-x: auto;
    
    /* overflow-x: hidden; */
    
  }
  .projects-container::-webkit-scrollbar{
    width: 0;
  }
  
  .project-tile {
    /* display: inline-block; */
    padding: 30px;
    background-color: rgb(0, 0, 0,0.8); /* White background for tiles */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0 10px rgb(255, 255, 255,0.2); /* Shadow for depth */
    margin: 10px; /* Spacing between tiles */
    display: inline-block; /* Display tiles in a row */
    text-align: start; /* Center content horizontally */
    font-size: 18px; /* Example font size for tile content */
    border: 2px solid orangered ;
    width: 400px;
    height: 500px;
    
    /* font-family:fantasy; */
    /* text-wrap: wrap; */
    /* overflow-y: auto; */
    /* align-items: flex-start;  */
    
  }
  .project-tile h3 {
    color: #fff;
  }
  .project-tile h4 {
    color: #fff;
  }
  
  .project-tile p {
    color: #fff;
    width: 400px;
  }
  
  .project-tile a {
    color: #fff;
    text-decoration: none;
  }
  .project-tile:hover{
    /* background-color: #555;
    box-shadow: 0 0 10px rbga(255,255,255,0.5); */
    transform: scale(1.05); /* Scale up on hover for visual feedback */
    background-color: rgb(0, 0, 0,1);
    transition: transform 0.3s ease; /* Smooth transition effect */
    color: #fff;

  }
  .project-tile a:hover {
    text-decoration: underline;
  }

  .description-container {
    max-height: 200px;
    text-wrap: wrap;
    overflow-y: auto;
    color: #fff;
  }

  .certifications-tile{
    padding: 30px;
    background-color: rgb(0, 0, 0,0.8); /* White background for tiles */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0 10px rgb(255, 255, 255,0.2); /* Shadow for depth */
    margin: 10px; /* Spacing between tiles */
    display: inline-block; /* Display tiles in a row */
    text-align: start; /* Center content horizontally */
    font-size: 18px; /* Example font size for tile content */
    border: 2px solid orangered ;
    width: min(400px,100%);
    /* height: 500px; */
  }
  .certifications-tile h3 {
    color: #fff;
  }
  .certifications-tile h4 {
    color: #fff;
  }
  
  .certifications-tile p {
    color: #fff;
    width: 400px;
  }
  
  .certifications-tile a {
    color: #fff;
    text-decoration: none;
  }
  .certifications-tile:hover{
    /* background-color: #555;
    box-shadow: 0 0 10px rbga(255,255,255,0.5); */
    transform: scale(1.05); /* Scale up on hover for visual feedback */
    background-color: rgb(0, 0, 0,1);
    transition: transform 0.3s ease; /* Smooth transition effect */
    color: #fff;

  }